.background-blue {
    background: #41D5E2;
}

.color-white {
    color: #ffffff;
}

.card .content {
    padding: 15px 15px 10px 15px;
}

.totalhead {
    font-weight: bold;
    font-size: 24px;
}

.card .footer {
    padding: 0;
    line-height: 30px;
}

.card .numbers {
    padding-left: 10px;
    text-align: left;
}

.footer {
    background-attachment: fixed;
    position: relative;
    line-height: 20px;
}

.footer hr {
    margin: 0.5rem 0;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.background-yellow {
    background: #F3BB45;
}

.background-green {
    background: #17b869;
}

.background-red {
    background: #FF5668;
}

.card .header {
    padding: 20px 20px 0;
    background-color: white;
}

.icon {
    max-width: 50px;
}