.modal-90w {

    .modal-header {
        background-color: rgba(239,241,245,1);
        
        .modal-title {
            color: rgba(207,35,56,1);
            font-weight: bold;
        }
    }
}
.border-top-5{
    border-top: 2px solid black;
}

.modal-650w{
    width: 650px!important;
}

.modal-mt{
    margin-top: 1rem!important;
}

.modal-content{
    width: 100%;
    border: 0px;
    border-radius: 10px; 
    position: absolute;
}
.containerModal{
    top: 30%;
    left: 10%;
}
.containerModalErr{
    top: 15%;
    left: 10%;
}
.containerModalErr2{
    top: 30%;
    left: 40%;
    width: 140px;
}
.headerModal{ 
    background-color: #EFF1F5;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 40px;
    font-family: Segoe UI, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #CF2338;
}
.bodyModal{
    font-family: Segoe UI, Arial;
    padding: 30px 40px 30px 40px;
    border-radius: 0px 0px 10px 10px;
    background-color: #FAFCFC;
    border: 1px solid black;
}

.onhover-gray:hover{
    background-color: gray;
}
.btn-border{
    border: 1px solid black;
}

#big-dialog-modal{
    transform: translate(0,150px) !important
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat;
}